<launch>
<arg name="nombre_bag" default="cualquiera" />
    <param name="use_sim_time" value="true"/>

<!---lanzamos el nodo gmapping-->
  <node pkg="gmapping" name="gmapping" type="slam_gmapping" args="scan:=topic_sicks3000" > 
    <param name="odom_frame" value="sr_odom" />
    <param name="base_frame" value="sr_base" />
  </node>
<node pkg="rviz" name="rviz" type="rviz"/> 
<node pkg="rosbag" type="play" name="nodo_rosbag" args="$(arg nombre_bag)" />  
 
</launch>
